# functions

In [9]:
def student_info(name,age=18):
    print(name,age)

student_info("John")
student_info('Alice',22)

John 18
Alice 22

## Numpy-> Numerical Python

In [2]:
# Installing numpy
!pip install numpy

Requirement already satisfied: numpy in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (2.3.2)

[notice] A new release of pip is available: 24.0 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
# import numpy
import numpy as np

## creating numpy array

In [4]:
x = np.array([1,3,4,5])
print(x)

[1 3 4 5]

In [6]:
# 2d array
y = np.array([
    [1,2],
    [4,5],
    [7,8]
])
print(y)

[[1 2]
 [4 5]
 [7 8]]

## Pandas

In [9]:
#installation
!pip install pandas

Requirement already satisfied: pandas in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (2.3.2)
Requirement already satisfied: numpy>=1.23.2 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\roaming\python\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.0 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [10]:
#import
import pandas as pd

In [12]:
# create a pandas series from a list
s = pd.Series([10,20,30,40,50],
              name="MyNumbers")
print("pandas series:\n" ,s)
print("type of series: ",type(s))

pandas series:
 0    10
1    20
2    30
3    40
4    50
Name: MyNumbers, dtype: int64
type of series:  <class 'pandas.core.series.Series'>

In [14]:
# create a pandas dataframe from a dictionary
data = {'Name':['Alice','Bob','Charlie','David'],
        'Age':[25,30,35,28],
        'City':['New York','London','Paris','Mangalore'],
        'Salary':[70000,85000,95000,72000]}

df = pd.DataFrame(data)
# Before data
print("Before Data : \n")
print(data)


print("\nAfter Data : \n")
print(df)

Before Data :

{'Name': ['Alice', 'Bob', 'Charlie', 'David'], 'Age': [25, 30, 35, 28], 'City': ['New York', 'London', 'Paris', 'Mangalore'], 'Salary': [70000, 85000, 95000, 72000]}

After Data :

      Name  Age       City  Salary
0    Alice   25   New York   70000
1      Bob   30     London   85000
2  Charlie   35      Paris   95000
3    David   28  Mangalore   72000

In [ ]:
# Access the public available data from internet and download and load it
df1 = pd.read_csv('CarPrice_Assignment.csv')

In [16]:
df1

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [19]:
# Access the public avaliable data direct through online
df2 = pd.read_csv('https://raw.githubusercontent.com/MainakRepositor/Datasets/refs/heads/master/Air%20Quality/real_2013_air.csv')

In [20]:
df2

        T    TM    Tm     SLP   H   VV     V    VM      PM 2.5
0     7.4   9.8   4.8  1017.6  93  0.5   4.3   9.4  219.720833
1     7.8  12.7   4.4  1018.5  87  0.6   4.4  11.1  182.187500
2     6.7  13.4   2.4  1019.4  82  0.6   4.8  11.1  154.037500
3     8.6  15.5   3.3  1018.7  72  0.8   8.1  20.6  223.208333
4    12.4  20.9   4.4  1017.3  61  1.3   8.7  22.2  200.645833
..    ...   ...   ...     ...  ..  ...   ...   ...         ...
180  14.6  15.9  12.5  1016.9  95  0.5   0.4   3.5  288.416667
181  13.6  20.4   7.5  1020.7  67  1.1  10.2  40.7  166.916667
182  12.3  20.6   6.2  1019.4  71  1.3   4.4  18.3  169.000000
183  11.9  17.1   6.5  1018.6  84  1.1   1.1   5.4  186.041667
184  14.3  19.2  10.9  1020.5  91  1.6   4.8  11.1         NaN

[185 rows x 9 columns]